<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>게시판</title>
    <link rel="stylesheet" href="/css/uikit.min.css" />
</head>
<body>
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-center">
            <div class="uk-navbar-center-left"><div>
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li>
                        <a href="#">Parent</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div></div>
            <a class="uk-navbar-item uk-logo" href="#">Gun</a>
            <div class="uk-navbar-center-right">
                <div>
                <ul class="uk-navbar-nav">
                    <li><a href="#">Item</a></li>
                </ul>
                </div>
            </div>
        </div>
    </nav>