<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>게시판</title>
<!--        <link rel="stylesheet" href="/css/bootstrap.min.css"/>-->
<!--        <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>-->
        <link rel="stylesheet" href="/css/mui.min.css"/>
    </head>
    <body>
        <div class="mui-appbar">
            <table width="100%">
                <tr style="vertical-align:middle;">
                    <td class="mui--appbar-height" align="right">로그인</td>
                </tr>
            </table>
        </div>