<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>게시판</title>
        <link rel="stylesheet" href="/css/mui.min.css"/>
        <link rel="stylesheet" href="/css/common.css"/>
    </head>
    <body>
        <div class="mui-appbar" style="margin-bottom: 10px;">
            <table width="100%">
                <tr style="vertical-align:middle;">
                    <td class="mui--appbar-height"><a href="/" style="color:white; text-decoration: none; font-size: 1.5rem; padding-left: 20px;">Simple board</a></td>
                    <td class="mui--appbar-height" align="right"><a href="/member/signIn" style="color: white; text-decoration: none; padding-right: 20px;">로그인</a></td>
                </tr>
            </table>
        </div>