{{>layout/header}} <!--<body>-->
    <div class="uk-heading-medium uk-position-relative uk-position-top-center uk-overlay uk-overlay-default">자유 게시판</div>
    <table style="text-align: center;" class="uk-table uk-table-hover uk-table-divider ">
        <thead>
            <tr>
                <th style="text-align: center;" >번호</th>
                <th style="text-align: center;" >제목</th>
                <th style="text-align: center;" >작성자</th>
                <th style="text-align: center;" >작성일</th>
                <th style="text-align: center;" >조회수</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>안녕하세요</td>
                <td>김건</td>
                <td>2020-04-07</td>
                <td><span class="uk-badge">1</span></td>
            </tr>
            <tr>
                <td>1</td>
                <td>안녕하세요</td>
                <td>김건</td>
                <td>2020-04-07</td>
                <td><span class="uk-badge">1</span></td>
            </tr>
            <tr>
                <td>1</td>
                <td>안녕하세요</td>
                <td>김건</td>
                <td>2020-04-07</td>
                <td><span class="uk-badge">1</span></td>
            </tr>
            <tr>
                <td>1</td>
                <td>안녕하세요</td>
                <td>김건</td>
                <td>2020-04-07</td>
                <td><span class="uk-badge">1</span></td>
            </tr>            <tr>
                <td>1</td>
                <td>안녕하세요</td>
                <td>김건</td>
                <td>2020-04-07</td>
                <td><span class="uk-badge">1</span></td>
            </tr>
            <tr>
                <td>1</td>
                <td>안녕하세요</td>
                <td>김건</td>
                <td>2020-04-07</td>
                <td><span class="uk-badge">1</span></td>
            </tr>
            <tr>
                <td>1</td>
                <td>안녕하세요</td>
                <td>김건</td>
                <td>2020-04-07</td>
                <td><span class="uk-badge">1</span></td>
            </tr>
            <tr>
                <td>1</td>
                <td>안녕하세요</td>
                <td>김건</td>
                <td>2020-04-07</td>
                <td><span class="uk-badge">1</span></td>
            </tr>            <tr>
                <td>1</td>
                <td>안녕하세요</td>
                <td>김건</td>
                <td>2020-04-07</td>
                <td><span class="uk-badge">1</span></td>
            </tr>


        </tbody>
    </table>
    <ul class="uk-pagination uk-position-bottom-center" uk-margin>
        <li><a href="#"><span uk-pagination-previous></span></a></li>
        <li><a href="#">1</a></li>
        <li class="uk-disabled"><span>...</span></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li class="uk-active"><span>7</span></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
        <li class="uk-disabled"><span>...</span></li>
        <li><a href="#">20</a></li>
        <li><a href="#"><span uk-pagination-next></span></a></li>
    </ul>
{{>layout/footer}} <!--</body>-->