{{>layout/header}} <!--</body>-->
<link rel="stylesheet" href="/css/member/signIn.css"/>
<div class="loginFrame">
    <h1 class="uk-heading-line uk-text-center"><span>로그인</span></h1>
    <form class="uk-margin-auto" action="/member/signIn" method="posts">
        <input name="_csrf" type="hidden" value="{{_csrf.token}}" />
        <div class="uk-margin uk-child-width-1-1">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                <input name="email" class="uk-input" type="text" placeholder="메일">
            </div>
        </div>
        <div class="uk-margin uk-child-width-1-1">
            <div class="uk-inline ">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input name="password" class="uk-input" type="password" placeholder="비밀번호">
            </div>
        </div>
        <div class="uk-margin-auto buttonBox">
            <button id="signInBtn" class="uk-button uk-button-primary">로그인</button>
                <a>혹시 비밀번호를 잊으셨나요?</a>
            <hr/>
            <button type="button" id="signUpBtn" class="uk-button uk-button-danger">회원가입</button>
        </div>
    </form>
</div>
{{>layout/footer}} <!--</body>-->
<script src="/js/member/signIn.js"></script>
