{{>layout/header}} <!--</body>-->
<link rel="stylesheet" href="/css/member/signUp.css"/>
    <div class="loginFrame">
    <h1 class="uk-heading-line uk-text-center"><span>회원가입</span></h1>
    <form class="uk-margin-auto" action="/member/signUp" method="post">
        <input name="_csrf" type="hidden" value="{{#_csrf}}token{{/_csrf}}" />
        <div class="uk-margin uk-child-width-1-1">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                <input name="email" class="uk-input" type="text" placeholder="메일을 입력해주세요">
            </div>
        </div>
        <div class="uk-margin uk-child-width-1-1">
            <div class="uk-inline ">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input name="password" class="uk-input" type="password" placeholder="비밀번호를 입력해주세요">
            </div>
        </div>
        <div class="uk-margin uk-child-width-1-1">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input name="passwordChk" class="uk-input" type="password" placeholder="비밀번호를 확인해주세요">
            </div>
        </div>
        <div class="uk-margin uk-child-width-1-1">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: happy"></span>
                <input name="nickname" class="uk-input" type="text" placeholder="닉네임을 입력해주세요">
            </div>
        </div>
        <div class="radioBox uk-margin-auto uk-margin-bottom uk-margin-top">
            <label><input name="gender" class="uk-radio" type="radio" value="M" checked> 남성</label>
            <label><input name="gender" class="uk-radio" type="radio" value="F"> 여성</label>
        </div>
        <div class="uk-margin-auto buttonBox">
            <button id="backBtn" class="uk-button uk-button-danger">취소</button>
            <button type="submit" id="signUpBtn" class="uk-button uk-button-primary">입력</button>
        </div>
    </form>
</div>
{{>layout/footer}} <!--</body>-->
<script src="/js/member/signUp.js"></script>