{{>layout/header}} <!--<body>-->
<div class="frame">
    <div class="page-header">
        <h1>글 작성</h1>
    </div>
    <form class="mui-form" action="/posts/insert" method="post">
        <input name="_csrf" type="hidden" value="{{_csrf.token}}" />
        <div class="mui-textfield">
            <input name="title" type="text" value="{{member.title}}">
            <label>제목</label>
        </div>
        <div class="mui-textfield">
            <textarea name="content" rows="10">{{member.content}}</textarea>
            <label>내용</label>
        </div>
        <div>
            <button type="submit" id="addBtn" class="mui-btn mui-btn--primary">입력</button>
            <button type="button" id="backBtn" class="mui-btn mui-btn--raised">뒤로가기</button>
        </div>
    </form>
</div>
{{>layout/footer}} <!--</body>-->
<script src="/js/posts/add.js"></script>
<script>
    {{#errors}}
        var titleErrorMsg = "{{title}}";
        var contentErrorMsg = "{{content}}";

        if(titleErrorMsg !== ''){
            $('input[name=title]').focus();
            alert(titleErrorMsg);
        }else if(contentErrorMsg !== ''){
            $('textarea[name=content]').focus();
            alert(contentErrorMsg);
        }
    {{/errors}}
</script>