{{>layout/header}} <!--<body>-->
<link rel="stylesheet" href="/css/posts/get.css"/>
<meta id="_csrf" name="_csrf" content="{{_csrf.token}}"/>
<meta id="_csrf_header" name="_csrf_header" content="{{_csrf.headerName}}"/>
<div class="mui-panel" style="width: 90%; margin: 0 auto;">
    <div class="page-header">
        <h1>{{posts.title}}</h1>
        <small style="font-size: 1.5rem;">작성자 <a href="#">{{posts.writer}}</a>
            작성일 {{posts.createDate}}</small>
    </div>
    <h2 style="padding-top: 30px;padding-bottom: 30px;">
        {{posts.content}}
    </h2>
    <button id="showReplyBtn" class="mui-btn mui-btn--raised">{{replyCnt}} 댓글</button>
</div>
<div style="text-align: center;margin-top: 22px; margin-bottom: 22px;">
    <button id="backBtn" class="mui-btn mui-btn--primary">뒤로가기</button>
    {{#isMyPosts}}
        <button id="modiBtn" class="mui-btn mui-btn--raised mui-btn--accent">수정</button>

        <button id="delBtn" class="mui-btn mui-btn--raised mui-btn--danger">삭제</button>
    {{/isMyPosts}}
</div>
<div class="mui-panel frame" style=" margin-bottom: 30px;">
    <h1>댓글</h1>
    <div>
        <div class="mui-textfield">
            <textarea id="replyContent" name="content" style="resize: none;"></textarea>
            <label>댓글 내용</label>
        </div>
        <div style="text-align: right; margin-top: 10px;">
            <button id="replyAddBtn"  class="mui-btn mui-btn--primary">작성</button>
        </div>
    </div>
    <div id="replyBody" class="panel panel-default" style="margin-top: 10px; display: none;">
        <div class="panel-body">
            <ul class="pagination" style="text-align: center;">
            </ul>
            <div id="replyList">
                <div class="mui-panel">
                    <h2>gunkim</h2> 2020-08-27 23:17:54
                    <p style="font-size: 1.5rem;">안녕하세유</p>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="actionForm">
    <input type="hidden" name="_csrf" value="{{_csrf.token }}"/>
    <input type="hidden" name="postsNum" value="{{posts.id}}"/>
</form>
{{>layout/footer}} <!--</body>-->
<script src="/js/posts/get.js"></script>