{{>layout/header}} <!--<body>-->
<div style="width: 80%; margin: 0 auto;">
    <div class="page-header">
        <h1>{{posts.title}}<small style="font-size: 1.5rem;">작성자 <a href="#">{{posts.writer}}</a> 작성일 {{posts.createDate}}</small></h1>
    </div>
    <h2>
        {{posts.content}}
    </h2>
    <hr/>
    <div style="text-align: center;">
        <button id="backBtn" class="btn btn-default">뒤로가기</button>
        {{#isMyPosts}}
            <button id="modiBtn" class="btn btn-primary">수정</button>
            <button id="delBtn" class="btn btn-danger">삭제</button>
        {{/isMyPosts}}
    </div>
</div>
<form id="actionForm">
    <input type="hidden" name="_csrf" value="{{_csrf.token }}"/>
    <input type="hidden" name="postsNum" value="{{posts.id}}"/>
</form>
{{>layout/footer}} <!--</body>-->
<script src="/js/posts/get.js"></script>