{{>layout/header}} <!--<body>-->
<link rel="stylesheet" href="/css/posts/list.css"/>
<div class="frame" style="margin-bottom: 30px;">
    <table width="100%">
        <tr style="vertical-align:middle;">
            <td class="mui--appbar-height"><h1>자유 게시판 <small>자유롭게 글을 남겨보세요</small></h1></td>
            <td class="mui--appbar-height" align="right"><button id="addBtn" class="mui-btn mui-btn--raised mui-btn--primary">글쓰기</button></td>
        </tr>
    </table>
    <table style="text-align: center;" class="mui-table">
        <colgroup>
            <col width="10%"/>
            <col width="40%"/>
            <col width="15%"/>
            <col width="20%"/>
            <col width="15%"/>
        </colgroup>
        <thead>
        <tr>
            <th style="text-align: center;">번호</th>
            <th style="text-align: center;">제목</th>
            <th style="text-align: center;">작성자</th>
            <th style="text-align: center;">작성일</th>
            <th style="text-align: center;">조회수</th>
        </tr>
        </thead>
        <tbody>
        {{#list}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/get?postsId={{id}}">{{title}}</a></td>
                <td>{{writer}}</td>
                <td>{{createDate}}</td>
                <td><span class="badge">{{hit}}</span></td>
            </tr>
        {{/list}}
        {{^list}}
            <tr>
                <td colspan="5">게시물이 존재하지 않습니다.</td>
            </tr>
        {{/list}}
        </tbody>
    </table>
    <nav class="pagination">
    </nav>
</div>
{{>layout/footer}} <!--</body>-->
<script src="/js/posts/list.js"></script>
<script>
    var msg = "{{msg}}";

    if(msg !== ''){
        alert(msg);
    }
    {{#pagingUtil}}
        var paging = {
            startPageNum : {{startPageNum}},
            endPageNum : {{endPageNum}},
            prev : {{isPrev}},
            next : {{isNext}},
            prevPageNum : {{prevPageNum}},
            nextPageNum : {{nextPageNum}},
            pagingList : new Array()
        };
        {{#pagingList}}
            paging.pagingList.push({
                active : '{{active}}',
                idx : {{idx}}
            })
        {{/pagingList}}
        util.printPagination('.pagination', paging);
    {{/pagingUtil}}
</script>