{{>layout/header}} <!--<body>-->
<div style="width: 80%;" class="uk-margin-auto">
    <h1 class="uk-heading-line uk-text-center"><span>글 수정</span></h1>
    <form class="uk-width-1-1" method="post" action="/posts/update">
        <input type="hidden" name="_csrf" value="{{_csrf.token }}"/>
        <input type="hidden" name="id" value="{{posts.id}}"/>
        <div class="uk-margin">
            <input name="title" class="uk-input"type="text" placeholder="제목을 입력하세요" value="{{posts.title}}">
        </div>
        <div class="uk-margin">
            <textarea name="content" class="uk-textarea" rows="5" placeholder="내용을 입력하세요" style="resize: none;">{{posts.content}}</textarea>
        </div>
        <input name="writer" type="hidden" value="{{posts.writer}}"/>
        <div class="uk-grid">
            <div class="uk-align-center uk-width-auto">
                <button id="backBtn" class="uk-button uk-button-danger">뒤로가기</button>
                <button type="submit" id="modiBtn" class="uk-button uk-button-primary">수정</button>
            </div>
        </div>
    </form>
</div>
{{>layout/footer}} <!--</body>-->
<script src="/js/posts/modify.js"></script>