{{>layout/header}} <!--<body>-->
<div class="col-lg-8 col-xs-8 col-md-8 col-sm-8" style="float:none; margin: 0 auto;">
    <div class="page-header">
        <h1>글 수정</h1>
    </div>
    <form action="/posts/update" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token }}"/>
        <input type="hidden" name="id" value="{{posts.id}}"/>
        <input name="title" type="text" class="form-control" placeholder="제목을 입력해주세요" style="margin-bottom: 20px;" value="{{posts.title}}">
        <textarea name="content" class="form-control" placeholder="내용을 입력해주세요" rows="8" style="resize: none;">{{posts.content}}</textarea>
        <div>
            <button type="submit" id="modiBtn" class="btn btn-primary col-xs-12" style="margin-top: 10px;">수정</button>
            <hr/>
            <button type="button" id="backBtn" class="btn btn-default col-xs-12">뒤로가기</button>
        </div>
    </form>
</div>
{{>layout/footer}} <!--</body>-->
<script src="/js/posts/modify.js"></script>
<script>
        {{#errors}}
            var titleErrorMsg = "{{title}}";
            var contentErrorMsg = "{{content}}";

            if(titleErrorMsg !== ''){
                $('input[name=title]').focus();
                alert(titleErrorMsg);
            }else if(contentErrorMsg !== ''){
                $('textarea[name=content]').focus();
                alert(contentErrorMsg);
            }
        {{/errors}}
</script>