{{>layout/header}} <!--<body>-->
<article class="uk-article">

    <h1 class="uk-article-title"><a class="uk-link-reset" href="">제목</a></h1>

    <p class="uk-article-meta">Written by <a href="#">사람</a> 2020-04-12 21:00:00</p>

    <p class="uk-text-lead">
        내용입니다.
    </p>

    <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div>
            <a class="uk-button uk-button-text" href="#">5 Comments</a>
        </div>
    </div>

</article>
{{>layout/footer}} <!--</body>-->