{{>layout/header}} <!--<body>-->
<div style="width: 80%;" class="uk-margin-auto">
    <h1>에러 페이지</h1>
    에러코드 : <span>{{code}}</span><br/>
    에러메시지 : <span>{{msg}}</span><br/>
    시간 : <span>{{timestamp}}</span>
</div>
{{>layout/footer}}