.loginFrame{
     width: 30%;
     border-radius: 10px;
     margin: 0 auto;
     background: white;
     margin-top: 100px;
     box-shadow: -1px 2px 35px 8px rgba(0,0,0,0.66);
 }
html{
    background: #d8eafc;
}
.uk-margin{
    margin: 0 auto;
}
form{
    width:80%;
}
.radioBox{
    width: 110px;
}
.buttonBox{
    width: 185px;
    padding-bottom: 20px;
}
@media (max-width: 991px) {
    .loginFrame{
        width:80%;
    }
}
@media (max-width: 575px) {
    .loginFrame{
        width:90%;
    }
}